/* MOBILE */
@media (max-width: 740px) {
    .card {
        width: 10em;
        height: auto;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .main-header-area {
        display: none;
    }

    .main-header-mobile {
        position: fixed;
        top: 0;
        right: 0;
        height: 46%;
        background-color: rgba(65, 65, 65, 0.8);
        width: 100%;
        max-width: 200px;
        transform: translateX(100%);
        border-radius: 0 0 10px 10px;
        transition: transform 0.8s, box-shadow 0.8s;
    }

    body.menu-open .main-header-mobile {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 15%);
    }

    .header-mobile-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block-start: 86px;
        row-gap: 20px;
        font-size: 1.3em;
    }

    .not-found {
        height: 24vh;
        font-size: 1.2em;
    }

    .footer-container {
        width: 100%;

        margin-block-start: 4em;
        background: var(--header-bg-clr);
    }

    .options {
        height: 400px;
        margin: 0;
        margin: 2em 0;
    }

    .top-gallery-search>div:nth-child(3) {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    /* In computre look bed but in mobile its perfect (mobile size screen) */
    .not-saved-text {
        height: 46vh;
    }

}



/* LARGE */
@media (min-width: 740px) {
    .gallery-container img {
        width: 16em;
        height: auto;
        /* object-fit: cover; */
        border-radius: 5px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .btn-toggle-menu {
        display: none;
    }

    .main-header-mobile {
        display: none;

    }
}