
.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.aboutme-container {
    background-color: var( --about-me-bg-clr);
    width: 80%;
    height: 80%;
    max-width: 600px; 
    padding: 60px;
    text-align: center; 
    border-radius: 25px;
    margin-block-start: 2em;
}

.aboutme h2 {
    font-size: 2em ;
    text-shadow:
    -2px -2px 0 #a59a00,  
     2px -2px 0 #a19e2f,
    -2px  2px 0 #a19e2f,
     2px  2px 0 #a19e2f;

    color: white; 
    margin-block-end: 3em;
}

.aboutme p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    line-height: 1.9em; 
}