.editor-container {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.options {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 400px;
    width: 400px;
    background-color: var(--editor-modal-bg-clr);
    border-radius: 25px;
    margin: 1.5em;
}

.editor-modal-center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 21.88em;
    background-color: var(--editor-centermodal-clr);
    border-radius: 25px;
    height: 7.81em;
}

.meme-text-input {
    margin-inline: 10px;
    padding: 8px 18px;
    border: 1px solid #22252c;
    border-radius: 12px;

}

#text-color {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: none;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease, height 0.3s ease;
}

#text-color:focus,
#text-color:hover {
    left: 0; 
    width: 40px; 
    height: 40px; 
    clip: auto;
    overflow: visible;
    z-index: 10;
}

.color-picker-label {
    display: inline-block;
    position: relative;
}

.color-img.pointer.editor-btn {
    cursor: pointer;
}



.fa-facebook-f {
    color: var(--btn-clr);
    padding: 10px;
    font-size: 28px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.fa-facebook-f:hover {
    transform: scale(1.2);
    color: #005ca3;
    cursor: pointer;
}

.fa-bookmark {
    color: var(--btn-clr);
    padding: 10px;
    font-size: 28px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.fa-bookmark:hover {
    transform: scale(1.2);
    color: #1153c5;
    cursor: pointer;
}

.fa-download {
    color: var(--btn-clr);
    padding: 10px;
    font-size: 28px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.fa-download:hover {
    transform: scale(1.2);
    color: #744ee6; 
    cursor: pointer;
}

.editor-modal-center {
    flex-direction: column;
}

.font-family-select {
    width: 50%;
    padding: 8px;
    font-size: 1.0625em;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #22252c;
    background-color: var(--dark-color1);
    color: #313131;
    cursor: pointer;
    margin-top: -10px;
}

.font-family-select option {
    background-color: #22252c;
    color: #f7feff;
}


.success-card {
    position: fixed;
    bottom: 20px;
    right: 60px; 
    background-color: #58ad55;
    color: white;
    padding: 8px 35px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    opacity: 0; 
    animation: slideInOut 2s ease forwards; 
    display: none; 
}

.success-card.show {
    opacity: 1;
    display: block;
}

.hidden-success {
    display: none; 
}

@keyframes slideInOut {
    0% {
        transform: translateX(100%); 
        opacity: 0;
    }
    10% {
        transform: translateX(0); 
        opacity: 1;
    }
    90% {
        transform: translateX(0); 
        opacity: 1;
    }
    100% {
        transform: translateX(100%); 
        opacity: 0;
    }
}
