


.editor-container{
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.options {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: var(--editor-modal-bg-clr);
    border-radius: 25px;
    /* row-gap: 5px; */
    margin: 1.5em;
}


.editor-modal-center{
    width: 350px;
    background-color: var(--editor-centermodal-clr );
    border-radius: 25px;
}


/* .text-edit-container img {
    width: 15px;
  } */

  .meme-text-input {
    margin-inline: 10px;
    padding: 4px 15px;
    border: 1px solid #22252c;
    border-radius: 12px;
   
}


#text-color {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: none;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}




.fa-facebook-f {
    transition: color 0.5s ease;
}

.fa-facebook-f:hover {
    animation: tada 0.8s;
    color: #005ca3;
    cursor: pointer;
}

.editor-modal-center{
    flex-direction: column;
}