.header-container {
    position: sticky;
    top: 0;
    margin-block-end: 2em;
    padding: 0.8em;
    background: var(--header-bg-clr);
    /* padding-bottom: 10px; */
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.75);
    /* border-radius: 25px; */
    z-index: 100;

}


.logo {
    font-weight: bold;
    margin-inline-start: 0.625em;
    font-size: 2em;
    color: #e7d36e;
    text-shadow:
        -2px -2px 0 #252525,
        2px -2px 0 #0a0a0a,
        -2px 2px 0 #252525,
        2px 2px 0 #0a0a0a;
    transition: all 0.3s;
}

.logo:hover {
    cursor: pointer;
    color: #d6c366;
}

.main-header-area {
    gap: 1em;
    margin-inline-end: 1rem;
}





/* Hamburger */
.btn-toggle-menu {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

.btn-toggle-menu .hamburger-lines {
    height: 26px;
    width: 32px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-toggle-menu .hamburger-lines .line {
    height: 4px;
    width: 100%;
    background-color: aliceblue;
    transition: 0.4s;
    border-radius: 5px;
}


body.menu-open .btn-toggle-menu .hamburger-lines .line.line1 {
    rotate: -45deg;
    transform-origin: top right;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line2 {
    scale: 0;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line3 {
    rotate: 45deg;
    transform-origin: bottom right;
}


.header-btn {
    transition: all 0.5s ease;
}

.header-btn:hover {
    color: var(--header-btn-hover-clr);
    transform:  scale(1.15);
}