.gallery-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card{
    width: 16em; 
    height: auto;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.not-found{
    height: 100vh;
    font-size: 1.8em;
}

.saved-meme-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 100vh;

   
}

.not-saved-text{
width: 100%;
text-align: center;
}

