.gallery-container {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
   
}

.card{
    width: 16em; 
    height: auto;
    /* object-fit: cover; */
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



